<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/estilosIndex.css">
</head>
<body>
    <div>
        <div>
            <input class="button" name="A" type="submit" value="Ejercicio1" name="ejercicio1" onclick="location.href='/ejercicio1'">
        </div>
        <div>
            <input class="button" name="A"  type="submit" value="Ejercicio2" name="ejercicio2" onclick="location.href='/ejercicio2'">
        </div>
    </div>
</body>
</html>